<%- include('../include/header.login.ejs') %>

<div class="container-fluid">
    <div class="row">
        <div class="text col-10 col-md-7 col-md-7">
            <h1 style="color: rgb(253, 0, 0); margin-bottom: 20px;">Shop Đồ Điện Tử</h1>

            <div class="col-12 col-3 ">                       
                    <p class="p"> <img class="dautich" src="https://www.tcqtkd.edu.vn/wp-content/uploads/2022/07/cropped-favicon.png">
                        <b>Chất lượng</b> luôn được đảm bảo</p>                
            </div>
            <div class="col-12 col-3">                       
                    <p class="p"> <img class="dautich" src="https://www.tcqtkd.edu.vn/wp-content/uploads/2022/07/cropped-favicon.png">
                        Giao diện thiết kế <b>độc quyền</b> nâng tầm thương hiệu.</p>                
            </div>
            <div class="col-12 col-3">                       
                <p class="p"> <img class="dautich" src="https://www.tcqtkd.edu.vn/wp-content/uploads/2022/07/cropped-favicon.png">
                    <b>Nhiều phụ kiện</b> đi cùng khi mua sản phẩm</p>                
            </div>
            <div class="col-12 col-3">                       
                <p class="p"> <img class="dautich" src="https://www.tcqtkd.edu.vn/wp-content/uploads/2022/07/cropped-favicon.png">
                    Bảo hành lên tới <b>2 năm</b></p>                
            </div>
            <div class="col-12 col-3">                       
                <p class="p"> <img class="dautich" src="https://www.tcqtkd.edu.vn/wp-content/uploads/2022/07/cropped-favicon.png">
                    Phù hợp với <b>mọi nhu cầu</b> sử dụng</p>                
            </div>

        </div>

        <div class="from rounded col-10 col-md-5 " style="height: 400px;">
                <h3 style="margin-top: 30px; margin-bottom: 20px; text-align: center;">Đăng Nhập</h3>
                <div class="card-body">
                    <form action="" method="post">
                        <div class="container">

                        
                                <div class="row">
                                    <div class="input-group flex-nowrap">                               
                                        <input type="text" class="form-control" placeholder="Tên đăng nhập" name="ten">
                                    </div>
                                    <div class="input-group flex-nowrap">                               
                                        <input type="password" class="form-control" placeholder="Mật khẩu" name="passwrd">
                                    </div>                                  
                                    
                                </div>                 

                        </div>

                        <div class="btnn">
                            <button type="submit" style="color: white; font-family:verdana; margin-left: 200px;" class="btn btn-warning">Đăng Nhập</button>          
                            <%= msg%>
                        </div>

                    </form>
                    
                    
                    
                </div>

        </div>

    </div>
</div>

<%- include('../include/footer.ejs') %>

